<%= simple_form_for @group do |f| %>
  <div class="form-group">
    <%= f.input :title, label: '关键词',  input_html: { class: "form-control"} %>
    <%= f.input :description, label: '摘要',  input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "发", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
